@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-color: white;
  font-family: 'Oswald', 'Futura', sans-serif;
  color: blue;
}

#header{
  color: green;
  font-size: 150%;
}

#github_icon {
 
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #bbb;
  width: 275px;
  height: 275px;
}


#github_icon2 {
 
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #ccc;
  width: 300px;
  height: 300px;
}

#github_icon:hover{
box-shadow: 5px 5px 5px 5px #ccc;
}

#wrapper{
  font-family:'Oswald';
  font-size: 150%;
  position: relative;
  top: 50%;
  left: 35%;
  width: 450px;
  height: 500px;
  text-align: center;
}

input{
  margin: 10px;
  font-family:'Oswald';
  font-size: 150%;

}

#language{
  position: relative;
  left: 25%;
  font-size: 200%;
  text-align: center;
  width: 700px;
  border-radius: 10px;
}

